* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  --darkBlue: #0065fc;
  --lightBlue: #deebff;
  --lightGrey: #f2f2f2;
}

body {
  font-size: 1.4rem;
}

/* --- Font size / weight --- */
.fz20 {
  font-size: 2rem;
}

.fz18 {
  font-size: 1.8rem;
}

.bold800 {
  font-weight: 800;
}

.bold500 {
  font-weight: 500;
}

a {
  color: #000000;
}

/* -------------- */
/* --- Header --- */
/* -------------- */
header {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

#navbar {
  margin-top: 2rem;
}

#navbar img {
  margin-left: 2rem;
}

#navbar ul {
  display: flex;
}

.link_nav {
  width: 100%;
  padding: 2rem 0 1.5rem 0;
  border-bottom: 3px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}

.link_nav:hover {
  color: var(--darkBlue);
  border-bottom: 3px solid var(--darkBlue);
}

.btn_subscribe {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.clr_btn_subscribe {
  color: var(--darkBlue);
}

/* --------------- */
/* --- Wrapper --- */
/* --------------- */

#wrapper {
  margin: 0 2rem 0 2rem;
}

/* ------------------------ */
/* --- Section  Filters --- */
/* ------------------------ */

#filters_section p {
  margin: 1rem 0 4rem 0;
}

#search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
}

#container_map_point {
  width: 5rem;
  height: 5rem;
  background-color: var(--lightGrey);
  border-radius: 1.5rem 0 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: 1.6rem;
}

form {
  position: relative;
  display: flex;
}

input[type="text"] {
  border: none;
  padding: 1rem;
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
  height: 5rem;
  outline: none;
  font-size: 1.4rem;
  font-weight: 900;
}

input[type="submit"] {
  border: none;
  text-indent: -9999px;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--darkBlue);
  margin-left: -1rem;
}

input::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}

.fa-search {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
}

/* -------------------------------------------- */

#filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

#filters ul {
  display: flex;
  flex-wrap: wrap;
}

.filter_box {
  display: flex;
  align-items: baseline;
  height: 6rem;
  padding-right: 1rem;
}

.icon_circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--lightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -2rem;
}

.filter_p {
  border-top: 2px solid var(--lightGrey);
  border-right: 2px solid var(--lightGrey);
  border-bottom: 2px solid var(--lightGrey);
  border-radius: 0 5rem 5rem 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 3rem;
}

/* -------------------------------------------- */

#info {
  display: flex;
  align-items: baseline;
}

#info_circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--lightGrey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-info {
  font-size: 1.1rem;
  color: var(--darkBlue);
}

#info p {
  margin-left: 1rem;
}

/* -------------- */
/* --- Lodges --- */
/* -------------- */

/* #lodges {
  display: flex;
  flex-direction: column-reverse;
} */

/* -------------------------------------------- */

#lodge_most_popular {
  margin-top: 4rem;
  background-color: var(--lightGrey);
  padding: 4rem 2rem 3rem 2rem;
}

.flex {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.fa-chart-line {
  font-size: 2rem;
}

#lodge_most_popular ul li {
  background-color: #fff;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

#lodge_most_popular figure {
  width: 340px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lodge_most_popular figure img {
  padding: 0.6rem;
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

#lodge_most_popular figure figcaption {
  padding: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lw-3rem {
  line-height: 3rem;
}

.star-my {
  margin-top: 4.5rem;
}

.blue-fa-star {
  color: var(--darkBlue);
}

.grey-fa-star {
  color: #e0e0e0;
}
