* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  --darkBlue: #0065fc;
  --lightBlue: #deebff;
  --lightGrey: #f2f2f2;
}

/* --- Font size / weight --- */

body {
  font-size: 1.4rem;
}

.fz20 {
  font-size: 2rem;
}

.fz18 {
  font-size: 1.8rem;
}

.fz12 {
  font-size: 1.2em;
}

.bold800 {
  font-weight: 800;
}

.bold500 {
  font-weight: 500;
}

a {
  color: #000000;
}

/* -------------- */
/* --- Header --- */
/* -------------- */
header {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

#navbar img {
  margin: 2rem 0 0 2rem;
}

#navbar ul {
  display: flex;
}

.link_nav {
  width: 100%;
  padding: 2rem 0 1.5rem 0;
  border-bottom: 0.3rem solid var(--lightGrey);
  display: flex;
  justify-content: center;
}

.link_nav:hover {
  border-bottom: 0.3rem solid var(--darkBlue);
}

.link_nav a:hover {
  color: var(--darkBlue);
}

.btn_subscribe {
  position: absolute;
  top: 3.5rem;
  right: 2rem;
}

.clr_btn_subscribe {
  color: var(--darkBlue);
}

.bx_shadow {
  box-shadow: 0.8rem 0.9rem 0.3rem -0.2rem #e4e4e4;
}

/* --------------- */
/* --- Wrapper --- */
/* --------------- */

.wrapper {
  margin: 0 2rem 0 2rem;
}

/* ------------------------ */
/* --- Section  Filters --- */
/* ------------------------ */

#filters_section p {
  margin: 1rem 0 2rem 0;
}

#search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

#container_map_point {
  width: 5rem;
  height: 5rem;
  background-color: var(--lightGrey);
  border-radius: 1.5rem 0 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: 1.6rem;
}

form {
  position: relative;
  display: flex;
}

input[type="text"] {
  border: none;
  padding: 1rem;
  border-top: 0.1rem solid var(--lightGrey);
  border-bottom: 0.1rem solid var(--lightGrey);
  height: 5rem;
  outline: none;
  font-size: 1.4rem;
  font-weight: 900;
}

input[type="submit"] {
  border: none;
  text-indent: -9999px;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--darkBlue);
  margin-left: -1rem;
}

input::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
}

.fa-search {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
}

/* -------------------------------------------- */

#filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

#filters h3 {
  margin-bottom: 2rem;
}

#filters ul {
  display: flex;
  flex-wrap: wrap;
}

#filters ul li {
  margin-bottom: 1rem;
}

.filter_box {
  display: flex;
  align-items: center;
  height: 5rem;
  border: 0.2rem solid var(--lightGrey);
  border-radius: 5rem;
  margin-left: 1rem;
}

.icon_circle {
  position: relative;
  left: -0.1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--lightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -2rem;
  color: var(--darkBlue);
}

.filter_p {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 0 3rem;
  z-index: -1;
}

/* -------------------------------------------- */

#info {
  display: flex;
  align-items: baseline;
}

#info_circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.2rem solid var(--lightGrey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-info {
  font-size: 1.1rem;
  color: var(--darkBlue);
}

#info p {
  margin-left: 1rem;
}

/* -------------- */
/* --- Lodges --- */
/* -------------- */

#lodge_most_popular {
  padding: 4rem 2rem 3rem 2rem;
  background-color: var(--lightGrey);
}

.flex {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.fa-chart-line {
  font-size: 2rem;
}

#lodge_most_popular ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lodge_most_popular ul li {
  background-color: #fff;
  border-radius: 2rem;
  margin: 1rem;
}

#lodge_most_popular figure {
  width: 34rem;
  height: 14.5rem;
  display: flex;
}

#lodge_most_popular figure img {
  padding: 0.6rem;
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

#lodge_most_popular figure figcaption {
  padding: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lw-3rem {
  line-height: 3rem;
}

.star-my {
  margin-top: 4.5rem;
}

.fa-star {
  font-size: 1.1rem;
}

.blue-fa-star {
  color: var(--darkBlue);
}

.grey-fa-star {
  color: #e0e0e0;
}

/* -------------------------------------------- */

#lodges {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

#lodge_results_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lodge_results_list figure {
  width: 34rem;
  height: 20rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 2rem;
}

.lodge_results_img {
  padding: 0.6rem 0.6rem 0 0.6rem;
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}

#lodge_results_list figcaption {
  padding: 0.2rem 1.5rem 1rem 2rem;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.lodge_results_show_more {
  margin: 3rem 0;
}

/* ------------------ */
/* --- Activities --- */
/* ------------------ */

#section_activities {
  margin-top: 6rem;
}

#activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, 34rem);
  grid-auto-rows: 20rem;
  grid-gap: 3rem;
  background-color: #fff;
  justify-content: center;
  margin-top: 3rem;
}

#activities figure {
  border-radius: 2.2rem;
}

.activities_imgs {
  width: 100%;
  height: 75%;
  border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}

#activities figure figcaption {
  padding: 1.5rem;
}

/* -------------- */
/* --- Footer --- */
/* -------------- */

footer {
  margin-top: 5rem;
  padding: 5rem 0;
  background-color: var(--lightGrey);
  display: flex;
  flex-wrap: wrap;
}

footer div {
  margin: 3rem 3rem 1rem 3rem;
  line-height: 3rem;
  padding-left: 1rem;
}

footer div h3 {
  margin-bottom: 1rem;
}

/* -------------------- */
/* --- MediaQueries --- */
/* -------------------- */

@media screen and (min-width: 660px) {
  #search_bar {
    justify-content: flex-start;
  }

  input[type="submit"] {
    text-indent: 0;
    width: 13.6rem;
    border-radius: 0 1.5rem 1.5rem 0;
    color: #fff;
  }

  .fa-search {
    display: none;
  }

  footer div {
    margin-left: 8rem;
  }
}

@media screen and (min-width: 1058px) {
  .wrapper_desktop {
    margin: 0 5rem;
  }

  .wrapper {
    margin: 0;
    padding: 0;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #navbar img {
    margin: 2rem 0 0 0;
  }

  #navbar ul li {
    padding: 0 2rem 0 2rem;
    border-bottom: none;
  }

  #navbar ul li:hover {
    border-top: 0.2rem solid var(--darkBlue);
  }

  #navbar ul li a {
    padding: 3rem 0 3rem 0;
  }

  #navbar .btn_subscribe {
    position: static;
    margin-top: 3rem;
  }

  #navbar ul .btn_subscribe:hover {
    border: none;
  }

  /* ------------------------------------- */

  #filters {
    flex-direction: row;
    align-items: center;
  }

  #filters h3 {
    margin-right: 2rem;
  }

  /* ------------------------------------- */

  .lodges_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4%;
  }

  #lodge_most_popular {
    grid-column: 2;
    grid-row: 1;
    border-radius: 2rem;
  }

  #lodges {
    width: 100%;
    margin-top: 0;
    padding-top: 1rem;
    border-radius: 2rem;
    background-color: var(--lightGrey);
  }

  #lodges h2 {
    margin: 3rem 4rem 1rem 4rem;
  }

  .flex {
    margin-bottom: 1rem;
  }

  #lodge_results_list li {
    margin-bottom: 1rem;
  }

  #lodge_results_list li figure {
    max-width: 24rem;
  }

  .lodge_results_show_more {
    margin-left: 4rem;
  }

  /* ------------------------------------- */

  #activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 20rem);
  }

  .img-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .img-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .img-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .img-4 {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .img-5 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .img-6 {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .activities_imgs {
    height: 80%;
  }

  .large {
    height: 91%;
  }

  #activities figure figcaption {
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper_desktop {
    width: 134rem;
    margin: 0 auto;
  }
}
